Pandas

Series

In [ ]:
import pandas as pd

In [ ]:
disciplinas = pd.Series(['Matemática', 'Historia', 'Psicología'], dtype='string')
#disciplinas[:2]
disciplinas

In [ ]:
numeros = pd.Series([2,4,7,9])
#numeros.dtype
#numeros.size
#numeros.index

In [ ]:
edades = pd.Series(dict(Juan=25, Romina=23, Roberto=43))
edades[1]
#edades[['Juan', 'Romina']]

In [ ]:
numeros = pd.Series([2,4,7,9,7,None])
# print(numeros.size)
# print(len(numeros))
# print(numeros.count())#Cantidad no nulos
#print(numeros.sum())
#print(numeros.cumsum())
#print(numeros.value_counts())
print(numeros.min())
print(numeros.max())

In [ ]:
#numeros.mean()
numeros.describe()

In [ ]:
#numeros * 2
#numeros.apply(lambda x: x*2+3)
#numeros[numeros > 5]
numeros.dropna(inplace=True)
numeros

Dataframes

In [ ]:
notas = pd.DataFrame(dict(Juan=[6,7,8], Romina=[5,9,6], Roberto=[3,8,5]), index=['1° Trimestre', '2° Trimestre','3° Trimestre'])
notas

In [ ]:
df  = pd.read_csv(r'C:\Users\gonza\Documents\Trabajo\Henry\Data Science\DS-M1\Clase 04\colesterol.csv', sep=';', decimal=',')
df['edad'].sort_values()
#df.edad

In [ ]:
#df.info()
#df.shape
#df.size
#df.columns
#df.head()
#df.tail(8)

In [ ]:
#Agregar columna
df['agregados'] = pd.Series([2,3,6,8])
df

In [ ]:
#Borrar columna
del df['agregados']

In [ ]:
df.peso * df.edad

In [ ]:
round(df.edad.mean(),2)

In [ ]:
df.drop([5,7], inplace=True)
df

In [ ]:
df

In [111]:
df.dropna()

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
df[(df.sexo == 'H') & (df.edad > 25)]

In [ ]:
#df.loc[3]
df.iloc[3,2]

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
#Agrupar
df.groupby('sexo').groups
#pd.DataFrame(df.groupby('sexo')['altura'])

In [113]:
df.to_csv('colesterol_mod.csv', sep='|', columns=['edad', 'sexo', 'colesterol'], index=False)